body{
font-family:Poppins;
background:#f4f6f8;
margin:0;
padding:30px;
transition:0.3s;
}

body.dark-theme{
background:#1e1e1e;
color:white;
}

h1{
text-align:center;
color:#007bff;
}

.task-input{
display:flex;
justify-content:center;
gap:10px;
margin-bottom:15px;
flex-wrap:wrap;
}

input{
padding:10px;
border-radius:8px;
border:1px solid #ddd;
}

button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#007bff;
color:white;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

#taskList{
max-width:600px;
margin:auto;
list-style:none;
padding:0;
}

#taskList li{
background:white;
margin-bottom:10px;
padding:12px;
border-radius:8px;
display:flex;
align-items:center;
justify-content:space-between;
cursor:grab;
}

.completed{
text-decoration:line-through;
opacity:0.6;
}

.progress-container{
width:600px;
max-width:90%;
height:12px;
background:#ddd;
margin:20px auto;
border-radius:20px;
}

#progressBar{
height:100%;
width:0%;
background:#28a745;
border-radius:20px;
}

.controls{
text-align:center;
margin-top:20px;
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
}
